<?xml version="1.0"?>
<settings>
	<setting name="resolution">
		<!-- Resolution by width x height -->
		<width>1280</width>
		<height>768</height>
	</setting>

	<setting name="application">
		<!-- Everything from the application title to the icon is here -->
		<title>Modular Pong</title>
		<fullscreen>No</fullscreen> <!-- Yes/No (not case-sensitive), use the screen's native resolution when using fullscreen (or it'll be a bit buggy) -->
		<fps>60</fps> <!-- How fast the game plays (60 is recommended) -->
	</setting>

	<setting name="surface">
		<!-- Everything surface related. Ex: game colors -->
		<background_color>Black</background_color> <!-- Must correspond with the color table from "main.py", also it's not case sensitive -->
	</setting>

	<setting name="game">
		<!-- Settings on game logic (sizes, speeds, conditions, etc) -->
		<!-- PADDLE -->
		<paddle_height>384</paddle_height> <!-- Half of the resolution height -->
		<paddle_width>15</paddle_width>
		<paddle_movement_speed>15</paddle_movement_speed>
		<paddle_color>White</paddle_color>

		<!-- BALL -->
		<ball_height>12</ball_height>
		<ball_width>12</ball_width>
		<ball_shape>Square</ball_shape> <!-- sphere/square (not case sensitive) -->
  	<ball_movement_speed>8</ball_movement_speed>
		<ball_color>White</ball_color>
	</setting>
</settings>
