<?xml version="1.0"?>
<settings>
	<setting name="resolution">
		<!-- Resolution by width x height -->
		<width>800</width>
		<height>640</height>
	</setting>

	<setting name="application">
		<!-- Everything from the application title to the icon is here -->
		<title>Modular Pong</title>
		<fullscreen>No</fullscreen> <!-- Yes/No (not case-sensitive), use the screen's native resolution when using fullscreen (or it'll be a bit buggy) -->
		<fps>120</fps> <!-- How fast the game plays (60 is recommended) -->
		<show_mouse>no</show_mouse>
	</setting>

	<setting name="surface">
		<!-- Everything surface related. Ex: game colors -->
		<background_color>Black</background_color> <!-- Must correspond with the color table from "main.py", also it's not case sensitive -->
	</setting>

	<setting name="game">
		<!-- Settings on game logic (sizes, speeds, conditions, etc) -->
		<!-- PADDLE -->
		<paddle_height>12</paddle_height> <!-- Half of the resolution height -->
		<paddle_width>190</paddle_width>
		<paddle_movement_speed>4</paddle_movement_speed>
		<paddle_color>White</paddle_color>

		<!-- BALL -->
		<!-- As of 12/5/2019: Ball shape cannot be changed due to problems with the collision engine -->
		<ball_height>12</ball_height>
		<ball_width>12</ball_width>
		<ball_movement_speed>3</ball_movement_speed>
		<ball_color>White</ball_color>

		<reset_ball>no</reset_ball> <!-- Whether or not to reset the ball after a few seconds -->
		<ball_reset_timer>8.0</ball_reset_timer> <!-- How long it takes (in seconds to reset) -->
	</setting>
</settings>
